.bal-invest-dark{
	background-color: #dedede;
	padding-top: 5px;
	padding-bottom: 5px;

	border-top-color: #9A9D9F;
	border-top-style: solid;
	border-top-width: thin;

	border-bottom-color: #9A9D9F;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.acct-name{
	font-size :14px;
}

.chart-pie-1{
	width: 30px;
}

#aa-chart-dashboard-1 {
	
}

.summary-my-acct-head{
	line-height: 18px;
	font-size: 16px;
	font-weight: bold;
	color: #5a5a5a;
}

.summary-my-acct-subhead{
	line-height: 21px;
	font-size: 14px;
	color: #787878;
	text-align: right;
}

.summary-border-right{
	border-right-color: white;
	border-right-style: solid;
	border-right-width: thin;
	height: 100%;
	padding-top: 0px;
	padding-bottom: 100%;
	margin-bottom: -100%;
}

.border-between > [class*='col-']:before {
	background: white;
	bottom: 0;
	content: " ";
	left: 0;
	position: absolute;
	width: 1px;
	top: 0;
}
.border-between > [class*='col-']:first-child:before {
	display: none;
}

/* To adjust notification badge to bottom right */

.shppng-badge { 
	margin-left: -5px;
	margin-top: 16px;
	background-color: #F0500A;
}

.product-highlight .product-highlight-heading{
	font-size:20px;
	font-weight:bold;
	color:#2a6496;

}
.product-highlight .product-highlight-detail{
	font-size: 16px;
    color: #5A5A5A;
 }


 .group-by-dropdown{
 	background: rgba(210,210,210,1);
	background: -moz-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(200,200,200,1) 20%, rgba(160,160,160,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,210,210,1)), color-stop(20%, rgba(200,200,200,1)), color-stop(100%, rgba(160,160,160,1)));
	background: -webkit-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(200,200,200,1) 20%, rgba(160,160,160,1) 100%);
	background: -o-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(200,200,200,1) 20%, rgba(160,160,160,1) 100%);
	background: -ms-linear-gradient(top, rgba(210,210,210,1) 0%, rgba(200,200,200,1) 20%, rgba(160,160,160,1) 100%);
	background: linear-gradient(to bottom, rgba(210,210,210,1) 0%, rgba(200,200,200,1) 20%, rgba(160,160,160,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2d2d2', endColorstr='#a0a0a0', GradientType=0 );
 }
 .group-by-dropdown:hover{
	background: rgba(160,160,160,1);
	background: -moz-linear-gradient(top, rgba(160,160,160,1) 0%, rgba(170,170,170,1) 20%, rgba(210,210,210,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(160,160,160,1)), color-stop(20%, rgba(170,170,170,1)), color-stop(100%, rgba(210,210,210,1)));
	background: -webkit-linear-gradient(top, rgba(160,160,160,1) 0%, rgba(170,170,170,1) 20%, rgba(210,210,210,1) 100%);
	background: -o-linear-gradient(top, rgba(160,160,160,1) 0%, rgba(170,170,170,1) 20%, rgba(210,210,210,1) 100%);
	background: -ms-linear-gradient(top, rgba(160,160,160,1) 0%, rgba(170,170,170,1) 20%, rgba(210,210,210,1) 100%);
	background: linear-gradient(to bottom, rgba(160,160,160,1) 0%, rgba(170,170,170,1) 20%, rgba(210,210,210,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#d2d2d2', GradientType=0 );
}
.dataTables_length {margin-top:10px;}
.ColVis_ShowAll{cursor:pointer;line-height:30px;background-color: #f0f0f0!important;color:#037EA6;width: 70%;
    float: left !important;}
.ColVis_Restore{width: 30%;
    float: left!important;
    cursor: pointer;
    line-height: 30px;
    background-color: #f0f0f0!important;
    color: #037EA6;
    text-align: center!important;
    padding-left:10px !important;
}
.ColVis_Restore:after {
    content: "|";
    margin:0 8px;
    color:#787878;
}

.header-dropdown{display:inline-block;}
.groupby-dropdown{margin-left:6px;}
.dataTables_length select{
	width:70px;
	cursor:pointer;
/* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0px !important; 
  /* Firefox 1-3.6 */
  -moz-border-radius: 0px !important; 
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0px !important; 
  -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   background-color: Transparent; 
   background: url("../images/icon-select-arrow.png") no-repeat right; 
}
.ColVis{
	transition:300ms all ease-in-out;
	cursor:pointer;
}
.ColVis-Highlight{
	background:#037EA6 !important;
	font-size: 22px;
}
.ColVis-Highlight i{color:#fff}
.header-label-list{height:30px;cursor: default!important;}
.header-label-list div,.header-label-list div span{
	height:30px;background-color: #D2D2D2;cursor: default!important;
}
.header-label-list div span{
	padding:0!important;
	font-size:14px;
}
.top{
	min-height: 50px;
    padding: 10px 0px;
  /*  border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;*/
    position: absolute;
    top: -50px;
    right: 166px;
}
.icons-cont{padding-right:10px;}

 table tr:first-child:hover{background-color:#d2d2d2!important;}
 table tr.odd:first-child:hover {background-color:#f0f0f0!important;}
 .dataTable tr{background-color:#d2d2d2;}
 .dataTable {width:100%!important;}
.holdings-dropdown li:hover{background-color: #f0f0f0;}
.holdings-dropdown li div.navigator-toggle-row div:hover{line-height: 30px!important;}
.holdings-dropdown li span{line-height:30px!important;}
.header-label-list div span{line-height:33px!important;color:#787878;}

.new-line{display:block;margin-bottom:0;}
#holding-header{height:85px;}
#current-holding .new-line{margin:0;margin-top:6px;}

/*sprint-3-ps*/
.pvt-bank-acc-selector{float: right;margin-top: 16px;color: #D2d2D2;}
.acc-sub-menu{padding-left:30px;}
.holdings-dropdown .acc-sub-menu span{line-height: 35px!important;}
.portfolio-list{padding-left:0!important;background-color: #fff!important;}
.portfolio-list li{margin-left:25px;:0;}
.ribbon-icon-cont{margin-top:12px;}
.adjust-icon-cont{margin-top:10px;}
#current-holding i.fa-chevron-down{opacity:0;}
.division{padding:0 2px;text-transform:uppercase;}
.activitytype{padding:2px 3px;border-radius:3px;font-size:11px;text-transform:uppercase;background-color:#a0a0a0;color:#fff;}
.buyactivitytype{background-color: #9cb97b;}
.sellactivitytype{background-color: #feb371;}
.dashboardIndex1 thead tr th:first-child{width:70px!important;}
.dashboardIndex2 thead tr th:first-child{width:70px!important;}
.dashboardIndex3 thead tr th:first-child{width:70px!important;}
.dashboardIndex4 thead tr th:first-child{width:75px!important;}

.dashboardIndex1 thead tr th:nth-child(2){width:250px!important;}
.dashboardIndex2 thead tr th:nth-child(2){width:250px!important;}
.dashboardIndex3 thead tr th:nth-child(2){width:250px!important;}
.dashboardIndex4 thead tr th:nth-child(2){width:250px!important;}

.dashboardIndex1 thead tr th:nth-child(3){width:150px!important;}
.dashboardIndex2 thead tr th:nth-child(3){width:150px!important;}
.dashboardIndex3 thead tr th:nth-child(3){width:150px!important;}
.dashboardIndex4 thead tr th:nth-child(3){width:150px!important;}

.dashboardIndex1 thead tr th:nth-child(4){width:90px!important;}
.dashboardIndex2 thead tr th:nth-child(4){width:90px!important;}
.dashboardIndex3 thead tr th:nth-child(4){width:100px!important;}
.dashboardIndex4 thead tr th:nth-child(4){width:100px!important;}

.dashboardIndex1 thead tr th:nth-child(5){width:70px!important;}
.dashboardIndex2 thead tr th:nth-child(5){width:70px!important;}
.dashboardIndex3 thead tr th:nth-child(5){width:60px!important;}
.dashboardIndex4 thead tr th:nth-child(5){width:70px!important;}

.dashboardIndex1 thead tr th:nth-child(6){width:70px!important;}
.dashboardIndex2 thead tr th:nth-child(6){width:70px!important;}
.dashboardIndex3 thead tr th:nth-child(6){width:60px!important;}
.dashboardIndex4 thead tr th:nth-child(6){width:70px!important;}

.dashboardIndex1 thead tr th:nth-child(7){width:80px!important;}
.dashboardIndex2 thead tr th:nth-child(7){width:80px!important;}
.dashboardIndex3 thead tr th:nth-child(7){width:70px!important;}
.dashboardIndex4 thead tr th:nth-child(7){width:80px!important;}
.activityaccount-number{display:block;}

/*addded by sachin */
.table-responsive {
    white-space: nowrap;
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 14px;}

td{
	color:#5A5A5A;
	font-size:16px;
	line-height:18px;
	vertical-align:middle !important;
	padding: 4px 14px !important;
	border-bottom:1px solid #D2D2D2;
	border-top:0px !important;
	text-align:center;
	height:46px;
}

/*------*/
.dataTables_scroll table.dataTable thead th{position:relative;}

.dataTables_scroll table.dataTable thead th  .fa-sort-amount-desc{
	position:absolute;
	bottom:12px;right:5px;
}

.filter-records{
	padding:4px 4px 4px 5px;
    background: #a0a0a0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color:#fff;
    font-size:18px;
}
.filter-records-full-round{
	border-radius: 3px;
}
.dataTables_filter{float:left!important;}
.dataTables_filter i{cursor: pointer;margin-top: 11px;}
.dataTables_wrapper .dataTables_filter input{margin-left:0!important;}
.dataTables_filter label{margin-right: 5px;margin-bottom:0;}
.dataTables_filter input {border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;-webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    height: 26px!important;
    top: 21px;
    position: absolute;}

.dataTables_filter input:focus{width:180px!important;-webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;}

.holdings-dropdown{max-height:70%!important;}

.dataTables_paginate a{
	width: 25px;
    height: 25px;
    text-align: center;
    padding: 2px 0px 0px!important;
    border: 2px solid #d2d2d2;
    margin-right: 2px;
    cursor:pointer;
}
.dataTables_paginate span a{
	 background:#fff !important;	
}
.dataTables_paginate a:hover{
	 text-decoration: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color: #fff!important;
    font-weight: none;
    background: #037ea6 !important;
    border: 2px solid #037ea6;
}

/*#currentholding-Table-GIA thead tr th{width:200px!important;}*/
#currentholding-Table-GIA {
	table-layout:fixed;
}
#currentholding-Table-ISA {
	table-layout:fixed;
}
#currentholding-Table-SIPP {
	table-layout:fixed;
}

/*Splash Screen*/
.home{
    background:#173b6b url("../images/home_bkg.jpg") top center no-repeat; 
   height: 100%;
/*     position: relative;*/
    background-size:cover;
}
.selection-overlay{
	background:rgba(0, 0, 0, 0.5);;
	padding:20px;
	position:absolute;
	top:30%;
	transform: translate(0, -50%);
	
}
.selection-overlay .col-md-4{height:230px;}
.left-cont{
	position: relative;
}
.left-cont img{
	position:absolute;
	top:50%;
	transform: translate(0, -50%);
	text-align:center;
}
.middle-cont p{color:#fff;margin: 15px 0 20px;font-size:24px;}
.market-unit{list-style-type:none;    margin: 0 auto;
    width: 293px;}
.market-unit li{float:left;text-align: center;color:#fff;  margin: 15px 18px;}

.market-unit i {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.market-unit i:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.market-unit i:before {
	speak: none;
	font-size: 42px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* display: block; */
	-webkit-font-smoothing: antialiased;
}

.market-unit i.fa-bank:before {
	font-size: 38px;
}

/* Effect 1 */
.market-unit i {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.market-unit i:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.market-unit i:hover {
	background: rgba(255,255,255,1);
	color: #173b6b;
}

.market-unit i:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}



.market-unit a{font-size:16px;margin:10px 0;color:#fff;text-decoration: none;cursor:pointer;}
@media (min-width:1100px){
	.left-cont{text-align: center;}
}
@media (max-width:1099px){
	.left-cont{padding-left:75px;}
}
.market-unit li.divide {
   width: 1px;
    height: 50px;
    margin-top: 33px;
    color: #fff;
    opacity: 0.2;
    background: #f0f0f0;
}
/*End of splash screen*/


  /*tk*/
  
.user-menu #held-away-Account i{
	font-size:24px;
	vertical-align: middle;
}
.user-menu #held-away-Account, .myaccount {
    font-size: 18px;
    padding: 5px 15px 0 0;
}

/*Mozilla Specific Styling for fixing navbar. */
@-moz-document url-prefix() {

	.main-menu li {
    	padding: 10.2px;
    }
    .pvt-bank-acc-selector{margin-top: -16px;}
}
.arrow-up-icon-big {
 	font-size: 55px;

    margin-right: -10px;
    margin-top: 42px;
}

.initial-hide {
   display: none;
}

#controlPanalModal .modal-body {
	height: 536px;
	overflow-y: auto;
	overflow-x: hidden;
}

#my-accounts-dash .fa-bullseye{font-size:27px;}

#my-acct-border-top{

	padding-top: 5px;

	border-top-color: #9A9D9F;
	border-top-style: solid;
	border-top-width: thin;

}

#popoverDash {
	top : -0.2em;
}

/*Login page*/

.footer-login {
    /*position: absolute;*/
    bottom: 0;
   /* width: 100%;
    height: 60px;
    background-color: #f5f5f5;*/
}


.ribbin2 .drop-down-bg{background:#a0a0a0; width:30px; height: 30px; text-align:center; position:absolute; right:0; top:0;}
.ribbin2 .drop-down-bg .ribbin-icon{color:#fff; font-size:20px; line-height: 30px;}

.dropdown-menu {
  min-width: 0; 
}

#login1 .navigator-toggle-content,#login1 .navigator-toggle  {
	width: 180px;
}

.notification-badge-doc{
	margin-left: -3px;
	padding: 2px 5px;
}

.shppng-badge{
	border-radius: 3px;
}

table.dataTable span.highlight {
    background-color: #787878;
    color: #ffffff;

}
.asset-allocation-chart-dashboard tr{
	background-color: #ffffff;
}

#currentholding-Table_filter input {
	width: 156px;
}
.goal-chart{
	margin-left: 0px;
}

.goal-chart rect{
	width: 0px;
	height: 0px;

}

.goal-chart-fix{
	margin-top: -10px;
	padding-left: 10px;
/*	position: absolute;
    top: -65px;
    left: -60px; 
    width: 100px;
    height: 48px;*/
}
.goal-dash-header{
	font-size: 26px;
	
}
.goal-dash-chart{
	margin-top: 15px;
	width:190px;
	/*margin: auto auto;*/

}
.goal-dash-total-txt{
	font-size: 16px;
	font-weight: bold;
		margin-bottom: 15px;
	margin-top: -20px;
	position: relative;
	
}

.goal-dash-total-amount{

	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 20px;
	
}

.by-line p{font-size:13px;}

.goal-dash-total-goal{
	margin-top: 15px;
	font-size: 18px;
	font-weight: normal;
	color: #a0a0a0;
}
.goal-dash-details {
	margin: 0px 0 0px;
}

.goal-dash-details .details-text{
	font-size: 13px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    line-height: 12px;
    padding-left: 5px;
    margin-top:-2px;
}
.carousel-control {text-shadow:none;}
/*
@media screen and (min-width: 1025px) {
	   
	.goal-chart-fix{
		
	     left: 0px;
	}
}*/
.dataTables_scrollBody table.dataTable thead th.sorting:after {
    content: none;
}
.dataTables_scrollBody table.dataTable thead th.sorting_desc:after{
	content: none;	
}
.dataTables_scrollBody table.dataTable thead th.sorting_asc:after{
	content: none;	
}

.goal-chart-fix .highcharts-container.goal-chart {float: right}

.goal-teal-icon {
	font-size: 27px;
}

#my-goal-dash, #my-accounts-dash ,#myIra,#myRmd,#myMoney,#myInvestment,#myEco,#myCaa{
    -webkit-animation-duration: 1.8s;
     animation-duration: 1.8s;  
  	 -webkit-animation-fill-mode: both;
  	 animation-delay: .1s;
  	 -webkit-animation-delay: .1s;
  animation-fill-mode: both; 
  z-index: 1;
}


.progress {
	background: #d2d2d2;
	border: 2px solid #fff;
	border-radius: 4px; height:5px;
	overflow:visible;margin-top:-5px;
}
.progress-bar-custom {
	background: #787878;
}
.progress-bar{text-align:right; background-color:#787878; height:1px !important;margin-top: 0px}

.progress-bar .sr-only {
width: 10px;
height: 10px;
margin-top: -5px;
padding: 0px;
overflow: hidden;
clip: auto !important;
border: 0px none;
background-color: #787878;
border-radius: 8px;
color: #787878;

}

.font-size-25{
	font-size: 25px;
}
.font-size-23{
	font-size: 23px;
}
.font-size-20{
	font-size: 20px;
}

.font-size-10{
	font-size: 10px;
}
.cursor-hand{
    cursor: pointer;
}
.min-height-550{
	min-height: 550px;
}

.min-height-700{
	min-height: 700px;
}

.min-height-580{
	min-height: 580px !important;
}

/*To remove gradient backgrond in carousel*/
.carousel-control.left{margin-left: 10px}
.carousel-control.right{margin-right: 10px}
.carousel-control.left, .carousel-control.right {
    background-image: none;
    width:0%;
}

.carousel-control .fa-angle-left,
  .carousel-control .fa-angle-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }

.carousel-control .fa-angle-right,
.carousel-control .fa-angle-left {
    position: absolute;
    top: 35%;
    z-index: 5;
    display: inline-block;
    font-size: 70px;
    color: #D2D2D2;
}

.carousel-indicators {
    bottom: 0px;
    margin-bottom: -20px;
    padding: 0px;
    
}

.carousel-indicators li {
    border: 1px solid #a0a0a0;
    background-color: #fff;
    width: 12px;
    height: 12px;
}
.carousel-indicators .active {
    border: 1px solid #a0a0a0;
    background-color: #DEDEDE;
    width: 12px;
    height: 12px;
    margin: 1px;
}

.carousel-inner .item > div >.col-md-4{border-left: 1px solid #dfdfdf; }
.carousel-inner .item > div {margin-top: 15px; margin-bottom: 20px}

.by-line {margin-bottom: -27px; margin-top: 35px;font-weight: bold; color: #a0a0a0;}
.left-marker{margin-left:-5px;}
.right-marker{margin-right:-5px;}

.goal-chart-fix .highcharts-container.goal-chart {float: right}

/*.controlPanalModal .modal-body{height:575px ;}*/
.controlPanalModal {top: 10px !important;}
.controlPanalModal .modal-title {font-size: 21px; color: #ffffff; margin-top:0px; margin-bottom:7px;}
.controlPanalModal .image-text-bricklets{border:1px solid #EFEFEF; margin-bottom: 10px; padding:10px; min-height: 238px;}
.controlPanalModal .col-md-6.image-text-bricklets{background-color: #EFF8FB;}
.controlPanalModal .col-md-6.image-text-bricklets.right-border{border-right:10px solid #fff;}
.controlPanalModal .image-text-bricklets-list{background-color: #EFF8FB; padding:0px !important;list-style-type:none;}
.controlPanalModal .image-text-bricklets img {	float:left;	margin: 0px 10px 0px;margin-left:0px;}
.controlPanalModal .image-text-bricklets table { }
.controlPanalModal .image-text-bricklets table  td:second-child{width: 54px;}
.controlPanalModal .image-text-bricklets table  td { float: none; margin: 0px; font-size: 13px ;line-height: 15px ;}
.controlPanalModal .image-text-bricklets table  td input{ margin: 0px;}
.controlPanalModal .image-text-bricklets table  td , .controlPanalModal .image-text-bricklets table  th { background-color: #EFF8FB ; border-bottom: 0px solid #D2D2D2; padding:4px 6px !important; text-align: left; border-right: 0px !important;}
.controlPanalModal .image-text-bricklets table  td:hover { background-color:#EFF8FB ; border-bottom: 0px solid #D2D2D2;}
.controlPanalModal .image-text-bricklets .h3 {	font-size: 21px;	font-weight: bold;	color: #5A5A5A;	margin: 0px;}
.controlPanalModal .my-account-ul li{	list-style: none;			padding: 3px;}
.controlPanalModal .my-right-apps img {	margin: 0px 10px 10px 0px !important;	}
.controlPanalModal .desc-pad{	padding-left: 5px !important;	margin-bottom: 10px;}
.controlPanalModal .modal-body .section-header:second-child{	margin-left: 10px;}
.controlPanalModal .right-box-panel{border:1px solid #EFEFEF; margin-bottom: 10px; padding:10px; min-height: 458px;}
.controlPanalModal .right-panel-list{ height: 408px;   overflow-y: auto;   overflow-x:hidden;}
.controlPanalModal .right-panel-image-text-bricklets { background-color: #EFF8FB; padding:0 10px; margin-bottom: 5px; }
.controlPanalModal .right-panel-image-text-bricklets td {font-size: 13px ;line-height: 15px ;}
.controlPanalModal .right-panel-image-text-bricklets table  td { vertical-align:top !important; background-color: #EFF8FB ;border-bottom: 0px; padding: 0px! important; text-align:left!important;}
.controlPanalModal .right-panel-image-text-bricklets table  th { background-color: #EFF8FB ; border-bottom: 0px solid #D2D2D2; padding: 3px! important; text-align: justify;}
.controlPanalModal .right-panel-image-text-bricklets table  td  input { margin-top: 5px; margin-right:10px;}
.controlPanalModal .right-panel-image-text-bricklets table  td:hover { background-color: #EFF8FB ; border-bottom: 0px solid #D2D2D2; text-align:-webkit-left}
.controlPanalModal .right-panel-image-text-bricklets img {	float:left;	margin: 0px 10px 0px; margin-left: 0px;}
.controlPanalModal .right-panel-image-text-bricklets.second-bricklet input{}
.controlPanalModal .right-panel-image-text-bricklets .h3 {	font-size: 21px;	font-weight: bold;	color: #5A5A5A;	margin: 0px;}

.controlPanalModal .choose-app-bricklet{ margin-top:5px; border:1px solid #EFEFEF;padding:10px;}
.controlPanalModal .choose-app-bricklet .image-text-bricklets {border:0px; padding-bottom: 0px; margin-bottom: 0px; min-height:152px;padding-top:0;}
.controlPanalModal .choose-app-bricklet .image-text-bricklets img{ margin-left: 0px;}
.controlPanalModal  .right-hand-side {     margin-left: -9px;
    padding-right: 0px;
}
.controlPanalModal  .frist-bricklet { margin-right:-15px; font-size: 13px;}
.controlPanalModal  .left-hand-side {     margin-right: -10px;
    padding-left: 18px;
    padding-right: 0px; }
.controlPanalModal .choose-app-bricklet table  td { vertical-align:top !important;}
.controlPanalModal .choose-app-bricklet table  td  input { margin-top: 15px;}
.controlPanalModal .panel-align-left{padding-left:0;}

.image-text-bricklets-list li{border-bottom:5px solid #fff;}
.padding-left-0{padding-left:0px!important;}
.image-text-bricklets-list li label{cursor:pointer;}

table.asset-allocation-chart-dashboard tr:hover{
	background-color: #ffffff!important;	
}
.modal-lg {
    width: 950px;
}
.selected_panel{    margin-right: 0!important;
    position: relative;
    background-color: #EFF8FB;
    min-height: 177px!important;
    border-color: #fff!important;
    animation-duration: 1500ms !important;}
.close_panel{position:absolute;top:5px;right:5px;cursor:pointer;font-size: 16px;
    color: #787878;}
 .alert_message,.alert_message2{
 	font-size: 13px;
    color: #ff8a00;
    border: 1px solid #ff8a00;
    background-color: #feeedb;
    padding: 5px 10px;
 }
 .panel_list li input{cursor:pointer;}
 .panel_list{animation-duration: 1500ms !important;}

 #myIra p{margin:0px;}
 #myIra .isa-allow{font-size:16px;}
 #myIra .top-head{font-size:21px;}

 #detail-holding-tablebody td:nth-child(1){text-align: left!important;}
 #detail-holding-tablebody td:nth-child(2){text-align: left!important;}

 #detail-holding-tablebody td:nth-child(3){text-align: right!important;}
 #detail-holding-tablebody td:nth-child(4){text-align: right!important;}
 #detail-holding-tablebody td:nth-child(5){text-align: right!important;}
 #detail-holding-tablebody td:nth-child(6){text-align: right!important;}
 #detail-holding-tablebody td:nth-child(7){text-align: right!important;}

 .modal-dialog{margin:10px auto 30px;}
 .modal{overflow-y:hidden;}
 .modal-body{padding-bottom:0;}
 #assetAlloc, #assetAllocText{position:initial;}
 #myMoney{min-height:285px;}
 #myRmd,#myIra,#myCaa{min-height:285px;}
 #myIra{min-height:281px;     margin-bottom: 4px;}
 
 #my-goal-dash{margin-top:-6px;}


 .goal-details-table-dropdown .dashboard-list-style{display: inline-block;dfdfmargin-left:10px;width:200px;position:relative;}
 .goal-details-table-dropdown .drop-down-bg{
 	background: #a0a0a0;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
 }   
 .goal-details-table-dropdown .holdings-dropdown {
    width: 200px;
    position:absolute;
    overflow: initial;
    box-shadow: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
 .goal-details-table-dropdown li{background-color: #fff;border-left:1px solid rgba(0,0,0,.15);border-right:1px solid rgba(0,0,0,.15);box-shadow: 0 6px 12px rgba(0,0,0,.175)}
 .goal-details-table-dropdown li:hover{border-right:1px solid rgba(0,0,0,.15);border-left:1px solid rgba(0,0,0,.15);}
 .goal-details-table-dropdown li:last-child{border-bottom:1px solid rgba(0,0,0,.15);}
 .goal-details-table-dropdown  li:first-child{margin-top:-5px;}
 .goal-details-table-dropdown .drop-down-bg .ribbin-icon {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}
 .goal-details-table-dropdown .navigator-toggle .navigator-toggle-content .navigator-toggle-row span:before{width:6px!important;}
.right-subsection-head{
	border-bottom:1px solid #d2d2d2;
}
.right-subsection-head i{
	font-size:18px;
	margin-top: -5px;
}
.goal-details .ribbin-amount{color:#5a5a5a;;font-size:20px!important;font-weight:normal;}
.goals-details-table tr:first-child:hover{background-color: #f0f0f0!important;}

.goal-details .drop-down-bg{background:#fff;border:1px solid #a0a0a0;border-left:transparent;}
.goal-details .drop-down-bg .ribbin-icon{color:#a0a0a0;}
/*@-moz-document url-prefix() {
 	.goal-details .dropdown{margin-left:81px!important;}
}*/
.goal-details-chart-cont .goal-dash-chart{margin-top:-8px;}
.goals-list li:last-child .divider{background-color:transparent;}
.chart-hide{
	position: absolute;
    top: 20px;
    left:100000px;
}
.desc-cont{
	width:242px;
	margin:10px auto;
    min-height: 37px;
    color:#a0a0a0;
    font-size:14px;

}
@media screen and (max-width: 1920px){
	#inOutFlowChart{
		width:100%!important;
	}
}
#goals-outer-cont{
	overflow:hidden;
}

#All-account .pvt-bank-acc-selector{margin-top: -24px;}


.group td:hover, .group td{background-color: #FFF !important;}
.performance-details-table tbody tr td:hover, .performance-details-table tbody tr td{background-color: #FFF !important;border-bottom:0;}
.loss{
	color: #91140F;
	
}
span.loss{padding-left:5px;}
.gain{
	color: #00692D;
}

.margin-right-1{margin-right: 1px;}
}
.goals-left-panel-pull{margin-top:-14px;}
.by-line-goal-detail{margin-top:19px!important;}
.sei-dark-green{
	color:#00692D;
}
.sei-dark-red{
	color:#91140F;
}
.goal-detail-specific .goal-dash-total-txt{
	margin-top:8px!important;
}
#goalsDeatils td{
	padding-right:8px!important;
}
.performance-details-table td :first-child{
	text-align: left;
	margin-left: -13px !important;	
}
.performance-details-table .marginrigth{
	margin-right:-5px!important;
	padding-right: 0px !important;
}
.fa-plus-small{
	font-size: 10px !important;
	margin-top: 2px;
}

.no-right-padding{padding-right:0 !important;}

#inOutFlowChart rect {height: 5px !important}



.performance-details-table tbody tr:nth-child(3) td{ background-color: #f0f0f0 !important;}

.performance-details-table td:first-child {width:77px;}

#currentholding2 table.dataTable tbody tr.group td {background-color: #f0f0f0 !important; box-shadow: 0px -1px 0px #ffffff inset,  0px 1px 0px #ffffff inset; padding-bottom: 2px !important;}
}

.goal-detail-specific .left-marker{position:relative;}

.goal-detail-specific .left-marker-date{
	top: 43px;
    position: absolute;
    left: 3px;
    font-size: 11px;
    color: #a0a0a0;
}

.goal-detail-specific .right-marker{position:relative;}

.goal-detail-specific .right-marker-date{
	top: 43px;
    position: absolute;
    right: 3px;
    font-size: 11px;
    color: #a0a0a0;
}
.goal-detail-specific .progress{
    border: 2px solid #fff; 
}    

.goal-detail-specific .progress-bar {
    height: 1px !important;
    margin-top: 0px;
}
.goal-detail-specific .progress-bar .sr-only{margin-top:-5px;}


/*css for goal details screen-by sachin*/

.height280{height:280px;}
.height280-assetAll{height:280px; padding:24px 0;}

.width-inoutflow{width:95.2%!important;}
.width-assetAllocation{width:100%!important;}
.width-goal-area{width:101.8%!important;}
.width-marketValue{width:95.3%!important;}

.margin-assetallocation{margin-left:30px;}

#inOutFlowChartGoal .highcharts-container{margin-left:7px;}





@media screen and (-webkit-min-device-pixel-ratio:0)
{

#All-account .pvt-bank-acc-selector{margin-top: 6px;}/*Css Hack for chrome*/

.width-goal-area{width:101.8%!important;}

}

.performance-details-table tr td:first-child{height:10px;}
.performance-details-table td{height:38px; font-size:14px; border-right: 1px solid #fff;}
.performance-details-table th{font-size:14px; font-weight:800;}
table.performance-details-table>thead>tr>th{line-height: 13px; width:17%;}

.performance-details-table th:nth-child(4) {width: 77px;}
.performance-details-table td.benchmrk{font-size:10px; color:#a0a0a0; text-align: left; padding:0px 0px 0px 0px !important; height: 0px !important; line-height: 10px !important;}
.margin-top-5{margin-top:5px;}

#banchMarkValueChart, #cashFlowChart {width: 112%; height: 350px; margin: 0 auto}


.goal-d-margin-left{margin-left:40px;}

.goal-d-padding{padding:0 0 0 36px;}
/* iPads (portrait and landscape) ----------- 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles 
}

/* iPads (landscape)
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles 
}

/* iPads (portrait) 
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles 
}*/

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
  .width-inoutflow{width:97.5%!important;}
 
  .width-assetAllocation{width:100%!important;}
  .width-goal-area{width:101%!important;}

}

@media only screen 
and (min-width : 1280px) {
	
}
@media only screen 
and (min-width : 1366px) {
	.width-marketValue{width:96.5%!important;}
	.margin-assetallocation{margin-left:-150px;}
	body:first-of-type .margin-assetallocation{margin-left:-50px;}
	.width-assetAllocation{width:100%!important;}
	#banchMarkValueChart, #cashFlowChart {width: 108.5%;}
	.goal-d-margin-left{margin-left:55px;}
	.goal-d-padding{padding:0 0 0 30px;}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1680px) {
  /* Styles */
  .width-inoutflow{width:98.2%!important;}

  .width-marketValue{width:98%!important;}
  .margin-assetallocation{margin-left:-150px;}
  body:first-of-type .margin-assetallocation{margin-left:-150px;}
  #banchMarkValueChart, #cashFlowChart {width: 106.7%;}
  .goal-d-margin-left{margin-left:80px;}
  .goal-d-padding{padding:0 0 0 10px;}

}
/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
  .width-inoutflow{width:98.5%!important;}



}

 table.asset-allocation-chart-dashboard td{padding:2px !important;}
}.goal-detail-specific .progress-bar .sr-only{margin-top:-5px;}

.activity-scrollable-padding-100{padding-top:88px;}

.filter-cont{padding:4px 5px 3px 5px;background:#a0a0a0;color:#fff;border-radius:3px;font-size:18px;cursor:pointer;}


#DataTables_Table_0_wrapper .ColVis{
	margin-top:10px;
}
.margin-right-31{
	margin-right:31px;
}

.activity-dropdown .ribbin-icon{font-size:14px;}

.activity-dropdown .holdings-dropdown{width:183px;}

.activity-dropdown.navigator-toggle .navigator-toggle-content .navigator-toggle-row div,.activity-dropdown.navigator-toggle .navigator-toggle-content .navigator-toggle-row span{padding:0!important;margin-left:-7px;}

.activity-dropdown .down-icon{margin-top:-2px;}

.activity-dropdown{padding-left:0;width: 197px;}
.fixleft{
 	padding-left: 17px !important;
}


.assetTextSize table.asset-allocation-chart-dashboard td{font-size: 16px; }

.width-assetAllocation table.asset-allocation-chart-dashboard td{font-size: 16px;}


/*Glossary Screen*/
.glossary-bg{
    background:url("../img/glossary.png") top center no-repeat; 
    height: 786px;
    background-size:100% 100%;
}

.list-unstyled .fa-bar-chart{font-size:20px;}
#nav{width:170px;}